extends ../_layout/_generic-base

block variables
    - var slug = 'main-layout'
    - var parent = 'pages'

block content
    section.container.section
        .columns
            .column
                h1 This is the first box
                p.preamble This should be the preamble of the page
            .column
                p A programmer is a person who passes as an exacting expert on the basis of being able to turn out, after innumerable punching, an infinite series of incomprehensive answers calculated with micrometric precisions from vague assumptions based on debatable figures taken from inconclusive documents and carried out on instruments of problematical accuracy by persons of dubious reliability and questionable mentality for the avowed purpose of annoying and confounding a hopelessly defenseless department that was unfortunate enough to ask for the information in the first place. (IEEE Grid newsmagazine) Should array indices start at 0 or 1? My compromise of 0.5 was rejected without, I thought, proper consideration. (Stan Kelly-Bootle) The best method for accelerating a computer is the one that boosts it by 9.8 m/s2. (Anonymous) Every operating system out there is about equal… We all suck. (Microsoft senior vice president Brian Valentine describing the state of the art in OS security, 2003)
                p will never become a truly paper-less society until the Palm Pilot folks come out with WipeMe 1.0. (Andy Pierson) Software suppliers are trying to make their software packages more ‘user-friendly’… Their best approach so far has been to take all the old brochures and stamp the words ‘user-friendly’ on the cover. (Bill Gates) Programming is like sex: one mistake and you’re providing support for a lifetime. (Michael Sinz) The most amazing achievement of the computer software industry is its continuing cancellation of the steady and staggering gains made by the computer hardware industry. (Henry Petroski)
    section.container.section
        .columns
            .column
                figure.figure
                    img(src="https://picsum.photos/500/300").img-responsive.s-rounded
                    figcaption.figure__caption This is the image text
                p There are only two industries that refer to their customers as ‘users’. (Edward Tufte) In order to understand recursion, one must first understand recursion.
