// Navbar
.navbar {
  display: flex;
  justify-content: end;
  position: relative;
  width: 100%;
  padding: $navbar-padding-y 0;


  &, .navbar__container {
    display: flex;
    justify-content: end;
    width: 100%;
  }


  &, .navbar__collapsable {
    align-items: stretch;
    flex-wrap: wrap;
  }

  .navbar__collapsable {
    display: none;
    justify-content: space-between;
  }

  .navbar__brand-section {
    min-height: $control-size;
  }

  .navbar__section, .navbar__brand-section {
    align-items: center;
    display: flex;
    flex: 1 0 0;

    &:not(:first-child):last-child {
      justify-content: end;
    }
  }

  .navbar__center { // might not work when having the collapse method, possible solution is to use position: absolute;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  .navbar__brand {
    font-size: $font-size-lg;
    text-decoration: none;
  }

  .navbar__toggler {
    display: block;

    .icon-cross {
      display: none;
    }
  }

  /**
    Checkbox works as well
   */
  input[type="checkbox"]:checked ~ .navbar__collapsable,
  &--expanded .navbar__collapsable {
    display: block;
  }

  @include breakpoint-up($navbar-breakpoint) {
    .navbar__toggler {
      display: none;
    }

    .navbar__collapsable {
      display: flex;
      flex: 1 1 auto;

      .nav {
        flex-direction: row;
        margin: 0;
        align-items: center;

        .nav__item {
          margin-top: 0;
        }
      }
    }

    .navbar__brand-section {
      flex: 0;
    }
  }

  @include breakpoint-down($navbar-breakpoint) {
    max-width: 100%;

    &--expanded {
      flex-direction: column;
      justify-content: start;
      z-index: calc($zindex-6 + 1000);

      .navbar__collapsable {
        min-height: 100vh;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        padding: 0 $navbar-padding-x;

        > * {
          margin-top: 0;
          margin-bottom: calc($layout-spacing * 2);

          &:first-of-type {
            margin-top: $layout-spacing;
          }
        }
      }

      .navbar__section {
        display: flex;

        &:not(:first-child):last-child {
          justify-content: start;
        }
      }

      .navbar-nav {
        .nav__item {
          a {
            padding-left: 0;
            display: block;
          }
        }
      }

      .navbar__brand-section {
        justify-content: start;
        flex: 0;
      }

      .navbar__toggler {
        position: absolute;
        top: $navbar-padding-y;
        right: $navbar-padding-x;

        .icon-cross {
          display: inline-block;
        }

        .icon-menu {
          display: none;
        }
      }
    }
  }
}
